.app {
  padding: 3rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-top: 1rem;
}

.user-card {
  background: #3b3737;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.user-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

